<form class='form new-project-form'>

  <div>
     <div class="card w-80 card-color align">
      <div class="card-body">
    <div class='card-title card-text-color card-text-design '>Protein</div>
    {{#when_type ingredient '1'}}
      <div>
        <input type='checkbox' value='{{id}}' name='{{name}}' />
        {{from}}
        {{name}}</div>
       
    {{/when_type}}
    <div class='card-title card-text-color card-text-design'>Grain</div>
    {{#when_type ingredient '2'}}
      <div>
        <input type='checkbox' value='{{id}}' name='{{name}}' />
        {{from}}
        {{name}}</div>
    {{/when_type}}
    <div class='card-title card-text-color card-text-design'>Vegetables</div>
    {{#when_type ingredient '3'}}
      <div>
        <input type='checkbox' value='{{id}}' name='{{name}}' />
        {{from}}
        {{name}}</div>
    {{/when_type}}
    <div class='card-title card-text-color card-text-design'>Dairy</div>
    {{#when_type ingredient '4'}}
      <div>
        <input type='checkbox' value='{{id}}' name='{{name}}' />
        {{from}}
        {{name}}</div>
    {{/when_type}}
    <div class='card-title card-text-color card-text-design'>Extras</div>
    {{#when_type ingredient '5'}}
      <div>
        <input type='checkbox' value='{{id}}' name='{{name}}' />
        {{from}}
        {{name}}</div>
    {{/when_type}}

  </div>
  {{! put other handlebars here just in case }}
  <div class='form-group'>
    <button type='submit' class='btn btn-color btn-recipme js-create' data-loggedin='{{logged_in}}'>Recipe Me!</button>
  </div>
</form>
<div id='snackbar'>You must be logged in to continue.</div>
<script src='./js/homepage.js'></script>