<form class='form new-project-form row align-items-start'>
  <div class='container col'>
    <div class='card card-style' style='width: 20rem; height: 50rem;'>
      <img
        class='card-img-top'
        src='./images/proteins (1).png'
        alt='Card image cap'
      />

      <div class='card-body card-border'>
        <h5 class='card-title'>Select your protein.</h5>
        {{#when_type ingredient '1'}}
          <div class='btn-group btn-group-toggle' data-toggle='buttons'>
            <label class='btn btn-outline btn-check transparent'>
              <input
                type='checkbox'
                name='{{name}}'
                value='{{id}}'
                autocomplete='off'
              />
              {{from}}
              {{name}}
            </label>
          </div>
        {{/when_type}}
      </div>
    </div>
  </div>
  <div class='container col'>
    <div class='card card-style' style='width: 20rem; height: 50rem;'>
      <img class='card-img-top' src='./images/grain.png' alt='Card image cap' />
      <div class='card-body card-border'>
        <h5 class='card-title'>Select your grain.</h5>
        {{#when_type ingredient '2'}}
          <div class='btn-group btn-group-toggle' data-toggle='buttons'>
            <label class='btn btn-outline transparent'>

              <input
                type='checkbox'
                name='{{name}}'
                value='{{id}}'
                autocomplete='off'
              />
              {{from}}
              {{name}}
            </label>
          </div>
        {{/when_type}}
      </div>
    </div>
  </div>
  <div class='container col'>
    <div class='card card-style' style='width: 20rem; height: 50rem;'>
      <img
        class='card-img-top'
        src='./images/vegetables.png'
        alt='Card image cap'
      />
      <div class='card-body card-border'>
        <h5 class='card-title'>Select your veggies.</h5>
        {{#when_type ingredient '3'}}
          <div class='btn-group btn-group-toggle' data-toggle='buttons'>
            <label class='btn btn-outline transparent'>

              <input
                type='checkbox'
                name='{{name}}'
                value='{{id}}'
                autocomplete='off'
              />
              {{from}}
              {{name}}
            </label>
          </div>
        {{/when_type}}
      </div>
    </div>
  </div>
  <div class='container col'>
    <div class='card card-style' style='width: 20rem; height: 50rem;'>
      <img
        class='card-img-top'
        src='./images/dairy-products.png'
        alt='Card image cap'
      />
      <div class='card-body card-border'>
        <h5 class='card-title'>Select your dairy.</h5>
        {{#when_type ingredient '4'}}
          <div class='btn-group btn-group-toggle' data-toggle='buttons'>
            <label class='btn btn-outline transparent'>

              <input
                type='checkbox'
                name='{{name}}'
                value='{{id}}'
                autocomplete='off'
              />
              {{from}}
              {{name}}
            </label>
          </div>
        {{/when_type}}
      </div>
    </div>
  </div>
  <div class='container col'>
    <div class='card card-style' style='width: 20rem; height: 50rem;'>
      <img
        class='card-img-top'
        src='./images/sauces.png'
        alt='Card image cap'
      />
      <div class='card-body card-border'>
        <h5 class='card-title'>Select your tasty extras.</h5>
        {{#when_type ingredient '5'}}
          <div class='btn-group btn-group-toggle' data-toggle='buttons'>
            <label class='btn btn-outline transparent'>

              <input
                type='checkbox'
                name='{{name}}'
                value='{{id}}'
                autocomplete='off'
              />
              {{from}}
              {{name}}
            </label>
          </div>
        {{/when_type}}
      </div>
    </div>
  </div>

  <div class='container col'>
    <div class='card card-style' style='width: 20rem; height: 50rem;'>
      <button
        type='submit'
        class='btn transparent js-create'
        data-loggedin='{{logged_in}}'
      ><img
          class='move'
          src='./images/recipe-book.png'
          alt='Recipe book.'
        />Recipe Me!</button>
      <div class='card-body'>
        <div class='form-group'>

        </div>
      </div>
    </div>
  </div>

</form>
<div id='snackbar'>You must be logged in to continue.</div>
<script src='./js/homepage.js'></script>