<body>
  <section>
    <div class='big-header-favroites'>
      <div class='container'>
        <h1 class='display-4'><img
            class='resize'
            src='./images/chef-s-uniform-icon-chef-f67523f4be024138c8b31b6b4b2eb099 (1).png'
            alt='A cute chef hat.'
          />Favo<span class='me-header'>rites</span></h1>
        <p class='lead lead-resize text-bold'>Welcome,
          {{name}}!
          <div class='text-bold'>Here are your favorite recipes:</div>
        </p>
      </div>
    </div>
  </section>

  
    <div class='favorite-list'>
      {{#each recipes as |recipe|}}
        <div class='row w-100 center'>
          <div class='card recipe-card-display' style='width: 18rem;'>
            <a ></a>
            <a target='_blank' href='{{recipe.recipe_url}}'
              href='#'
              data-toggle='tooltip'
              title='Click here to view the full recipe!'
            ><img
                class='card-img-top'
                src='{{recipe.image_url}}'
                alt='Card image cap'
              />
            </a>
            <div class='card-body'>
              <h5 class='display-4 card-text-color'>{{recipe.name}}</h5>
              <button
                class='btn btn-sm btn-danger'
                data-id='{{recipe.id}}'
              >DELETE</button>
            </div>
          </div>

        </div>
      {{/each}}
    </div>
  </div>
  <script src='./js/profile.js'></script>

</body>