<body>
  <section>
      
        <p class='lead text-bold display-4'>Welcome,
          <span class="welcome">{{name}}!</span>
          <div class='text-bold display-4' >Here are your favorite recipes:</div>
        </p>
    
  </section>

  
    <div class='favorite-list p-2 card-group'>
      {{#each recipes as |recipe|}}
        <div class='row'>
          <div class='card recipe-card-display' style='width: 20rem;'>
            <a target='_blank' href='{{recipe.recipe_url}}'></a>
            <a
              href='#'
              data-toggle='tooltip'
              title='Click here to view the full recipe!'
            ><img
                class='card-img-top'
                src='{{recipe.image_url}}'
                alt='Card image cap'
              />
            </a>
            <div class='card-body'>
              <h5 class='display-4 card-text-color'>{{recipe.name}}</h5>
              <button
                class='btn btn-sm btn-danger'
                data-id='{{recipe.id}}'
              >DELETE</button>
            </div>
          </div>

        </div>
      {{/each}}
    </div>
  </div>
  <script src='./js/profile.js'></script>

</body>