<!-- Loop over each object in the projects array -->
{{#each recipes as |recipe|}}
  <div>
    <h1>
      {{recipe.name}}</h1>
       <input
          type='checkbox'
          value='{{recipe.id}}'
          name='{{recipe.name}}'
    <img width='300' src='{{recipe.image_url}}' alt='{{recipe.name}}' />
    {{#each recipe.ingredients as |ing|}}
      <div>{{ing.name}}</div>
    {{/each}}
  </div>
{{/each}}