<!-- Loop over each object in the projects array -->
<form class='form new-recipe-form'>
{{#each recipes as |recipe|}}
  <div>
    <h1>
      {{recipe.name}}</h1>
      <a target="_blank" href="{{recipe.recipe_url}}"></a>
    <a href="#" data-toggle="tooltip" title="Click here to view the full recipe!"><img width='300' src='{{recipe.image_url}}' alt='{{recipe.name}}' /> </a>
    
    
    </a>
    {{#each recipe.ingredients as |ing|}}
      <div>{{ing.name}}</div>
    {{/each}}
  </div>
  <div class='form-group'>
    <button id="fav" value='{{recipe.id}}'  class='btn btn-primary favbtn'>favorite</button>
  </div>
  </form>
{{/each}}

<script src='./js/recipes.js'></script>